body {
    font-family: Arial, sans-serif;
    background-color: #ADCFE7;
    margin: 0;
    padding: 0;
}


#logoHospital{
    display: inline-flex;
}
#imgHospital{
    width: 40px;
    height: auto;
    color: #fff;

}
#hospitalName {
    align-items: center;
    font-size: large;
    padding-left: 5px;
    font-family: sans-serif;
}

.login-container {
    background-color: #fff;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #ADCFE7;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #649fdf;
}

.signup-link {
    text-align: center;
}

.signup-link a {
    color: #007bff;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}